.game-results, .settings, .start-menu {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(100rem, 100% - clamp(0rem, (100vw - 0px) / 970px * 8rem + 0rem, 8rem));
  max-width: 100%;
  border: 2px solid #222;
  border-radius: clamp(1.2rem, (100vw - 0px) / 970px * 1.2rem + 1.2rem, 2.4rem);
  padding: 2.4rem clamp(0rem, (100vw - 0px) / 970px * 4.8rem + 0rem, 4.8rem);
  display: none;
}
.open.game-results, .open.settings, .open.start-menu {
  display: block;
}

.button_play-again, .button_menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.button_play-again .icon, .button_menu .icon {
  margin-bottom: -0.4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  overflow-y: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
}

/* oswald-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/oswald-v57-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/oswald-v57-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/oswald-v57-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/oswald-v57-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/oswald-v57-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "Oswald", sans-serif;
  line-height: 1.8;
  font-weight: 300;
  font-size: 1rem;
  color: #222;
}

.header-primary {
  font-size: 4.6rem;
  font-weight: inherit;
}
@media (max-width: 970px) {
  .header-primary {
    font-size: clamp(2.4rem, (100vw - 0px) / 970px * 2.4rem + 2.4rem, 4.8rem);
  }
}

.header-secondary {
  font-size: 3.4rem;
  font-weight: 400;
}
@media (max-width: 970px) {
  .header-secondary {
    font-size: clamp(1.6rem, (100vw - 0px) / 970px * 1.6rem + 1.6rem, 3.2rem);
  }
}

.header-tertiary {
  font-size: 2.5rem;
  font-weight: 400;
}
@media (max-width: 970px) {
  .header-tertiary {
    font-size: clamp(1.2rem, (100vw - 0px) / 970px * 1.2rem + 1.2rem, 2.4rem);
  }
}

.game-board {
  padding: 2rem 2rem;
  border: 2px solid #222;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 970px) {
  .game-board {
    padding-left: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
    padding-right: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
    border-radius: clamp(0.4rem, (100vw - 0px) / 970px * 1rem + 0.4rem, 1.4rem);
  }
}

.game-board__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 970px) {
  .game-board__grid {
    gap: clamp(-0.2rem, (100vw - 0px) / 970px * 2.2rem + -0.2rem, 2rem);
  }
}

.game-board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  height: 8rem;
  min-width: 8rem;
  border: 2px solid #222;
  border-radius: 1.4rem;
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
@media (max-width: 970px) {
  .game-board__cell {
    height: clamp(0rem, (100vw - 0px) / 970px * 8rem + 0rem, 8rem);
    min-width: clamp(0rem, (100vw - 0px) / 970px * 8rem + 0rem, 8rem);
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 1.6rem + 0.8rem, 2.4rem);
    border-radius: clamp(0.4rem, (100vw - 0px) / 970px * 1rem + 0.4rem, 1.4rem);
  }
}
.game-board__cell:hover {
  background-color: #ffd43b !important;
  color: #fff;
}
.game-board__cell_active {
  background-color: #22b8cf !important;
}
.game-board__cell_error {
  background-color: #ff6b6b !important;
}
.game-board__cell_success {
  background-color: #20c997 !important;
}

.button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  transition: all 0.3s;
}
.button:hover {
  transform: translateY(-4px);
}
.button:active {
  transform: translateY(0px);
}

.button_on-off {
  height: clamp(1.8rem, (100vw - 0px) / 970px * 0.6rem + 1.8rem, 2.4rem);
  min-width: clamp(4rem, (100vw - 0px) / 970px * 0.8rem + 4rem, 4.8rem);
  border-radius: 10rem;
  border: 2px solid #222;
  position: relative;
  display: flex;
  align-items: center;
}
.button_on-off:hover {
  transform: none;
}
.button_on-off:active {
  transform: none;
}

.button_on-off::before {
  content: "";
  left: 0.35rem;
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 2px solid #222;
  border-radius: 10rem;
  transition: all 0.3s;
  background-color: #fff;
}

.button_on-off:hover::before {
  border-width: 0.5rem;
  background-color: rgb(46.75, 46.75, 46.75);
}

.button_mode.active {
  background-color: #222 !important;
  color: #fff !important;
}

.img-container {
  height: 3rem;
  width: 3rem;
}
@media (max-width: 970px) {
  .img-container {
    width: clamp(2.7rem, (100vw - 0px) / 970px * 0.3rem + 2.7rem, 3rem);
    height: clamp(2.7rem, (100vw - 0px) / 970px * 0.3rem + 2.7rem, 3rem);
  }
}
.img-container.button_continue {
  background: url(/src/assets/icons/continue.svg) no-repeat center center;
  background-size: cover;
}
.img-container_replay, .img-container.button_reset {
  background: url(/src/assets/icons/reset.svg) no-repeat center center;
  background-size: cover;
}
.img-container_replay.white-theme {
  background: url(/src/assets/icons/replay-white.svg) no-repeat center center;
}
.img-container.button_save {
  background: url(/src/assets/icons/save.svg) no-repeat center center;
  background-size: cover;
}
.img-container.button_settings {
  background: url(/src/assets/icons/settings.svg) no-repeat center center;
  background-size: cover;
}
.img-container.button_close {
  background: url(/src/assets/icons/close.svg) no-repeat center center;
  background-size: cover;
}
.img-container.start-menu__github-img-link {
  background: url(/src/assets/icons/github-mark.svg) no-repeat center center;
  background-size: cover;
  height: 3.1rem;
  width: 3.1rem;
}
@media (max-width: 970px) {
  .img-container.start-menu__github-img-link {
    width: clamp(2.8rem, (100vw - 0px) / 970px * 0.3rem + 2.8rem, 3.1rem);
    height: clamp(2.8rem, (100vw - 0px) / 970px * 1rem + 2.8rem, 3.8rem);
  }
}
.img-container_loss {
  background: url(/src/assets/icons/loss.svg) no-repeat center center;
  background-size: cover;
}
.img-container_win {
  background: url(/src/assets/icons/win.svg) no-repeat center center;
  background-size: cover;
}
.img-container_menu {
  background: url(/src/assets/icons/menu-white.svg) no-repeat center center;
  background-size: cover;
}

.wrapper {
  max-width: 140rem;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (max-width: 970px) {
  .wrapper {
    padding-left: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
    padding-right: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
  }
}

.header {
  margin-bottom: 1rem;
  white-space: nowrap;
}

.header__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 7rem;
  margin-bottom: 1.6rem;
  align-items: center;
}
.header__info .header-primary {
  grid-row: 2;
  grid-column: 1;
}
@media (max-width: 509px) {
  .header__info .header-primary {
    grid-row: 1;
    grid-column: 1;
  }
}
@media (max-width: 509px) {
  .header__info {
    grid-template-rows: 6rem auto;
    align-items: end;
  }
}

.header__control-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  grid-row: 1;
  grid-column: 1/-1;
}
@media (max-width: 509px) {
  .header__control-buttons {
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 0.6rem;
  }
}

.header__statistics {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 3rem;
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 509px) {
  .header__statistics {
    grid-row: 2;
    grid-column: 1/-1;
    justify-content: flex-start;
  }
}
@media (max-width: 970px) {
  .header__statistics {
    font-size: clamp(1.5rem, (100vw - 0px) / 970px * 1.5rem + 1.5rem, 3rem);
  }
}

.header__assist-tools {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.header__assist-tools .button {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
@media (max-width: 970px) {
  .header__assist-tools .button {
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 0.8rem + 0.8rem, 1.6rem);
    padding: clamp(0.9rem, (100vw - 0px) / 970px * 0.3rem + 0.9rem, 1.2rem) clamp(1.8rem, (100vw - 0px) / 970px * 0.6rem + 1.8rem, 2.4rem);
  }
}
.header__assist-tools {
  margin-bottom: 2.6rem;
}
.header__assist-tools .button {
  background-color: #222;
  color: #fff;
}
.header__assist-tools .button:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}
.header__assist-tools .button:active {
  background-color: rgb(67.15, 67.15, 67.15);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.start-menu__github-link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 2.6rem;
}

.start-menu__github-img-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-menu__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.start-menu__status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.start-menu__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.start-menu__actions .button {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
@media (max-width: 970px) {
  .start-menu__actions .button {
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 0.8rem + 0.8rem, 1.6rem);
    padding: clamp(0.9rem, (100vw - 0px) / 970px * 0.3rem + 0.9rem, 1.2rem) clamp(1.8rem, (100vw - 0px) / 970px * 0.6rem + 1.8rem, 2.4rem);
  }
}
.start-menu__actions {
  margin-bottom: 1.2rem;
}
.start-menu__actions .button {
  border: 2px solid #222;
  color: #222;
}
.start-menu__actions .button_continue:hover {
  transform: none;
  background-color: rgb(72.25, 72.25, 72.25);
}
.start-menu__actions .button_continue:active {
  transform: none;
}

.start-menu__actions .button_continue {
  color: #fff;
  background-color: #222;
}

.start-menu__modes-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #222;
  padding: 1.2rem 2.4rem;
  gap: 1.2rem;
  border-radius: 1.4rem;
}
@media (max-width: 970px) {
  .start-menu__modes-container {
    border-radius: clamp(0.4rem, (100vw - 0px) / 970px * 1rem + 0.4rem, 1.4rem);
  }
}
.start-menu__modes-container .button:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}
.start-menu__modes-container .button:active {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

.start-menu__table {
  border: 2px solid #222;
  width: 100%;
  border-radius: 2.4rem;
  max-height: 20rem;
  height: 100%;
  overflow-y: auto;
  padding: 0 0.4rem 0.4rem 0.4rem;
  margin-top: 1rem;
}
@media (max-width: 970px) {
  .start-menu__table {
    border-radius: clamp(1.2rem, (100vw - 0px) / 970px * 1.2rem + 1.2rem, 2.4rem);
  }
}
.start-menu__table tbody tr {
  transition: all 0.4s;
}
.start-menu__table tbody tr:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.16);
  border-radius: 1.6rem;
}
@media (max-width: 970px) {
  .start-menu__table tbody tr:hover {
    border-radius: clamp(0.6rem, (100vw - 0px) / 970px * 1rem + 0.6rem, 1.6rem);
  }
}
.start-menu__table tbody tr:last-child:hover {
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.16);
}
.start-menu__table th {
  font-size: 2.2rem;
}
@media (max-width: 970px) {
  .start-menu__table th {
    font-size: clamp(1.1rem, (100vw - 0px) / 970px * 1.1rem + 1.1rem, 2.2rem);
  }
}
.start-menu__table td {
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 970px) {
  .start-menu__table td {
    font-size: clamp(1rem, (100vw - 0px) / 970px * 1rem + 1rem, 2rem);
  }
}

.start-menu__action-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.settings.open {
  z-index: 102;
}

.settings.open ~ .overlay.open {
  z-index: 101;
}

.settings__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__option {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  border-bottom: 2px solid #222;
  padding: 0.4rem 0;
}
@media (max-width: 970px) {
  .settings__option {
    font-size: clamp(1.1rem, (100vw - 0px) / 970px * 1rem + 1.1rem, 2.1rem);
  }
}
@media (max-width: 460px) {
  .settings__option span {
    display: none;
  }
}

.settings__audio-controls .settings__option:last-child {
  border-bottom: none;
}

.settings__theme-selection .settings__option:last-child {
  border-bottom: none;
}

.game-results__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.game-results__info div {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
@media (max-width: 970px) {
  .game-results__info div {
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 0.8rem + 0.8rem, 1.6rem);
    padding: clamp(0.9rem, (100vw - 0px) / 970px * 0.3rem + 0.9rem, 1.2rem) clamp(1.8rem, (100vw - 0px) / 970px * 0.6rem + 1.8rem, 2.4rem);
  }
}
.game-results__info {
  margin-top: 2.2rem;
  margin-bottom: 8.4rem;
}

.game-results__actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.game-results__actions .button {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
@media (max-width: 970px) {
  .game-results__actions .button {
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 0.8rem + 0.8rem, 1.6rem);
    padding: clamp(0.9rem, (100vw - 0px) / 970px * 0.3rem + 0.9rem, 1.2rem) clamp(1.8rem, (100vw - 0px) / 970px * 0.6rem + 1.8rem, 2.4rem);
  }
}
.game-results__actions .button {
  box-shadow: none;
  font-size: 2.2rem;
  background-color: #222;
  color: #fff;
}

.game-results__outcome {
  display: flex;
  flex-direction: column;
}
.game-results__outcome span:last-child {
  font-size: 2rem;
}

.game-results__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.game-results__info .game-results__outcome {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}
@media (max-width: 970px) {
  .game-results__info .game-results__outcome {
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 0.8rem + 0.8rem, 1.6rem);
    padding: clamp(0.9rem, (100vw - 0px) / 970px * 0.3rem + 0.9rem, 1.2rem) clamp(1.8rem, (100vw - 0px) / 970px * 0.6rem + 1.8rem, 2.4rem);
  }
}
.game-results__info div {
  border: 2px solid #222;
}

.game-results__status {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.game-results__outcome-name {
  font-weight: 400;
  font-size: 2.2rem;
  font-style: italic;
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 1;
  display: none;
}
.overlay.open {
  display: block;
}

/*# sourceMappingURL=style.css.map */
