*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
}

/* oswald-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/oswald-v57-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/oswald-v57-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/oswald-v57-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/oswald-v57-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oswald-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/oswald-v57-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "Oswald", sans-serif;
  line-height: 1.8;
  font-weight: 300;
  font-size: 1rem;
  color: #222;
}

.header-primary {
  font-size: 4.8rem;
  font-weight: inherit;
}
@media (max-width: 970px) {
  .header-primary {
    font-size: clamp(2.4rem, (100vw - 0px) / 970px * 2.4rem + 2.4rem, 4.8rem);
  }
}

.game-board {
  padding: 2rem 2rem;
  border: 2px solid #222;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 970px) {
  .game-board {
    padding-left: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
    padding-right: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
    border-radius: clamp(0.4rem, (100vw - 0px) / 970px * 1rem + 0.4rem, 1.4rem);
  }
}

.game-board__grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 970px) {
  .game-board__grid {
    gap: clamp(-0.2rem, (100vw - 0px) / 970px * 2.2rem + -0.2rem, 2rem);
  }
}

.game-board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  height: 8rem;
  min-width: 8rem;
  border: 2px solid #222;
  border-radius: 1.4rem;
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 970px) {
  .game-board__cell {
    height: clamp(0rem, (100vw - 0px) / 970px * 8rem + 0rem, 8rem);
    min-width: clamp(0rem, (100vw - 0px) / 970px * 8rem + 0rem, 8rem);
    font-size: clamp(0.8rem, (100vw - 0px) / 970px * 1.6rem + 0.8rem, 2.4rem);
    border-radius: clamp(0.4rem, (100vw - 0px) / 970px * 1rem + 0.4rem, 1.4rem);
  }
}

.button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.wrapper {
  max-width: 140rem;
  padding: 0 2rem;
  margin: 0 auto;
}
@media (max-width: 970px) {
  .wrapper {
    padding-left: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
    padding-right: clamp(0rem, (100vw - 0px) / 970px * 2rem + 0rem, 2rem);
  }
}

.header {
  margin-bottom: 1rem;
}

.header__statistics {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
}

.header__assist-tools {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2.6rem;
}
.header__assist-tools .button {
  background-color: #222;
  color: #fff;
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
}

.header__control-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1.6rem;
  margin-bottom: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
