@function rearrangeSize($min, $max, $min-vw, $max-vw) {
  $size-diff: $max - $min;
  $range-diff: $max-vw - $min-vw;

  $cur-size: clamp($min, (100vw - #{$min-vw}) / #{$range-diff} * #{$size-diff} + #{$min}, $max);
  @return $cur-size;
}
