.game-board {
  padding: 2rem 2rem;
  border: $border;
  border-radius: 1.4rem;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  align-content: start;
  @include tabletRange {
    padding-left: rearrangeSize(0rem, 2rem, 0px, 970px);
    padding-right: rearrangeSize(0rem, 2rem, 0px, 970px);
    border-radius: rearrangeSize(0.4rem, 1.4rem, 0px, 970px);
  }
}
.game-board__lines {
  font-size: 3.6rem;
  order: 2;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  @include tabletRange {
    font-size: rearrangeSize(1.8rem, 3.6rem, 0px, 970px);
    margin-left: rearrangeSize(0.2rem, 0.6rem, 0px, 970px);
    margin-right: rearrangeSize(0.2rem, 0.6rem, 0px, 970px);
  }
}
.game-board__grid {
  display: grid;
  margin-bottom: 1.2rem;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  gap: 2rem;
  @include tabletRange {
    gap: rearrangeSize(-0.2rem, 2rem, 0px, 970px);
  }
}

.game-board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  height: 8rem;
  min-width: 8rem;
  border: $border;
  border-radius: 1.4rem;
  width: 100%;
  box-shadow: $shadow;
  transition: all 0.4s;
  @include tabletRange {
    height: rearrangeSize(0rem, 8rem, 0px, 970px);
    min-width: rearrangeSize(0rem, 8rem, 0px, 970px);
    font-size: rearrangeSize(0.8rem, 2.4rem, 0px, 970px);
    border-radius: rearrangeSize(0.4rem, 1.4rem, 0px, 970px);
  }

  &:hover {
    background-color: #ffd43b !important;
    color: #fff;
  }

  &_active {
    background-color: #22b8cf !important;
  }

  &_error {
    background-color: #ff6b6b !important;
  }

  &_success {
    background-color: #20c997 !important;
  }
}
