.img-container {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  @include tabletRange {
    width: rearrangeSize(2.7rem, 3rem, 0px, 970px);
    height: rearrangeSize(2.7rem, 3rem, 0px, 970px);
  }
  &.button_continue {
    background: url(/src/assets/icons/continue.svg) no-repeat center center;
    background-size: cover;
  }

  &_replay,
  &.button_reset {
    background: url(/src/assets/icons/reset.svg) no-repeat center center;
    background-size: cover;
  }
  &_replay.white-theme {
    background: url(/src/assets/icons/replay-white.svg) no-repeat center center;
  }
  &.button_save {
    background: url(/src/assets/icons/save.svg) no-repeat center center;
    background-size: cover;
  }
  &.button_settings {
    background: url(/src/assets/icons/settings.svg) no-repeat center center;
    background-size: cover;
  }
  &.button_close {
    background: url(/src/assets/icons/close.svg) no-repeat center center;
    background-size: cover;
  }
  &.start-menu__github-img-link {
    background: url(/src/assets/icons/github-mark.svg) no-repeat right center;
    background-size: 72%;
    height: 5.2rem;
    width: 5.2rem;
    @include tabletRange {
      width: rearrangeSize(2.8rem, 3.1rem, 0px, 970px);
      height: rearrangeSize(2.8rem, 3.8rem, 0px, 970px);
    }
  }
  &_loss {
    background: url(/src/assets/icons/loss.svg) no-repeat center center;
    background-size: cover;
  }
  &_win {
    background: url(/src/assets/icons/win.svg) no-repeat center center;
    background-size: cover;
  }
  &_menu {
    background: url(/src/assets/icons/menu-white.svg) no-repeat center center;
    background-size: cover;
  }
}
