.game-results {
  @extend %menu;
}

.game-results__info {
  @include values-list(1.6rem, 'div');
  margin-top: 2.2rem;
  margin-bottom: 8.4rem;
  @include rangeChange(340px) {
    margin-bottom: 5.4rem;
  }
}
.game-results__actions {
  @include values-list;

  & .button {
    box-shadow: none;
    font-size: 2.4rem;
    @include tabletRange {
      font-size: rearrangeSize(1.6rem, 2.4rem, 0px, 970px);
    }
    background-color: var(--first-color);
    color: var(--second-color);
  }
}
.game-results__outcome {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  & span:last-child {
    font-size: 2.2rem;

    @include tabletRange {
      font-size: rearrangeSize(1.4rem, 2.2rem, 0px, 970px);
    }
  }
}
.game-results__info {
  @include values-list(1.6rem, '.game-results__outcome');

  & div {
    border: $border;
  }
}
.game-results__status {
  display: flex;
  align-items: center;

  gap: 0.6rem;
}

.game-results__outcome-name {
  font-weight: 400;
  font-size: 2.4rem;
  @include tabletRange {
    font-size: rearrangeSize(1.6rem, 2.4rem, 0px, 970px);
  }
  font-style: italic;
  text-transform: capitalize;
}
.game-results__status-value {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
