.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-color);
  opacity: 1;
  display: none;

  &.open {
    display: block;
  }
}
