.settings {
  @extend %menu;
}
.settings.open {
  z-index: 102;
}
.settings.open ~ .overlay.open {
  z-index: 101;
}
.settings__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__button-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  @include tabletRange {
    gap: rearrangeSize(0.4rem, 1.2rem, 0px, 970px);
  }
}
.settings__option {
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  border-bottom: $border;
  padding: 0.4rem 0;
  @include tabletRange {
    font-size: rearrangeSize(1.5rem, 2.1rem, 0px, 970px);
  }
  @include rangeChange(460px) {
    & .settings__option-text span {
      display: none;
    }
  }
}

.settings__audio-controls .settings__option:last-child {
  border-bottom: none;
}

.settings__theme-selection .settings__option:last-child {
  border-bottom: none;
}
