.start-menu {
  @extend %menu;
}
.start-menu a {
  color: var(--first-color);
}
.start-menu__github-link {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
}
.start-menu__github-img-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.start-menu__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.start-menu__status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.start-menu__actions {
  justify-content: space-between;
  @include values-list;
  margin-bottom: 1.6rem;
  & .button {
    border: $border;
    color: var(--first-color);
  }
  & .button_continue:hover {
    transform: none;
    background-color: color-mix(in srgb, var(--first-color) 85%, white 15%);
    border-color: color-mix(in srgb, var(--first-color) 85%, white 15%);
  }

  & .button_continue:active {
    transform: none;
  }
  & .button_start-new-game {
    &:hover {
      transform: none;
      color: color-mix(in srgb, var(--first-color) 80%, white 20%);
      border-color: color-mix(in srgb, var(--first-color) 80%, white 20%);
    }
    &:active {
      transform: none;
      color: color-mix(in srgb, var(--first-color) 80%, white 20%);
      border-color: color-mix(in srgb, var(--first-color) 80%, white 20%);
    }
  }
}

.start-menu__actions .button_continue {
  color: var(--second-color);
  background-color: var(--first-color);
}

.start-menu__modes-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: $border;
  padding: 1.2rem 2.4rem;
  gap: 1.2rem;
  border-radius: 1.4rem;
  @include tabletRange {
    border-radius: rearrangeSize(0.4rem, 1.4rem, 0px, 970px);
  }
  & .button {
    &:hover {
      box-shadow: 0 2rem 4rem rgba(var(--shadow), 0.1);
    }

    &:active {
      box-shadow: 0 1rem 4rem rgba(var(--shadow), 0.2);
    }
  }
}

.start-menu__table {
  border: $border;
  width: 100%;
  border-radius: 2.4rem;
  max-height: 20rem;
  height: 100%;
  overflow-y: auto;
  padding: 0 0.4rem 0.4rem 0.4rem;
  margin-top: 1.6rem;
  @include tabletRange {
    border-radius: rearrangeSize(1.2rem, 2.4rem, 0px, 970px);
  }
  & tbody tr {
    transition: all 0.4s;
    text-transform: capitalize;
  }
  & tbody tr:hover {
    box-shadow: 0 0.5rem 2rem rgba(var(--shadow), 0.16);
    border-radius: 1.6rem;
    @include tabletRange {
      border-radius: rearrangeSize(0.6rem, 1.6rem, 0px, 970px);
    }
  }
  & tbody tr:last-child:hover {
    box-shadow: 0 0rem 2rem rgba(var(--shadow), 0.16);
  }

  & th {
    font-size: 2.2rem;

    @include tabletRange {
      font-size: rearrangeSize(1.1rem, 2.2rem, 0px, 970px);
    }
  }

  & td {
    font-size: 2rem;
    text-align: center;

    @include tabletRange {
      font-size: rearrangeSize(1rem, 2rem, 0px, 970px);
    }
  }
}

.start-menu__action-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
